body {
    font-family: 'Roboto', sans-serif;
}

.page-container {
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 46px;
    padding-bottom: 15px;
}


.tours-header {
    width: 1030px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.logo-url-block {
    text-decoration: none;
    position: relative;
    display: block;
    color: #F26522;
    text-align: left;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;

}

.logo-url-block:hover {
    color: #F26522;
    transition: 0.5s;
}

.logo {
    display: flex;
}

.logo-title {
    margin-left: 8px;

}

.logo-title-second-part {
    display: block;
    font-size: 18px;
    line-height: 18px;
}

.contact-info {

}

.contact-info-item {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    display: block;
    text-align: right;
    margin-bottom: 19px;
}

.contact-info-item:last-child {
    margin-bottom: 17px;
}

.container {

}

.tours-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 261px);
    grid-column-gap: 65px;
    grid-row-gap: 37px;
    justify-content: center;
}

.tour-item-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    display: block;
    position: relative;

}

.tour-booking-popup {
    position: absolute;
    width: 299px;
    height: 55px;
    background: #F26522;
    /*bottom: 39px;*/
    bottom: 19px;
    left: 3px;
    display: flex;
    opacity: 0;

}

.tour-booking-title {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin-top: 7px;
    margin-left: 16px;
    display: block;
    text-align: left;
}

.tour-booking-price {
    font-size: 20px;
    line-height: 20px;
    display: block;
    text-align: left;
    color: #FFFFFF;
    margin-top: 8px;
    margin-left: 16px;
}

.tour-details {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 29px;
    text-align: right;
    display: block;
    margin-left: 128px;
    margin-bottom: 14px;
    position: relative;
}

.tour-details::after {
    content: "";
    position: absolute;
    background-image: url("../img/tours/icon-right.svg");
    width: 5px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 16px;
    top: 2px;
}



.tour-item-foto {
    width: 300px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(bottom, black 0%, white 100%);
    -webkit-border-image: -webkit-linear-gradient(bottom, black 0%, white 100%);
    border-image: linear-gradient(to top, black 0%, white 100%);
    border-image-slice: 1;
}

.milan-holidays-footer {
    margin-top: 49px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}



.tour-item-link:hover {
    color: #F26522;
    transition: 0.5s;
}

.tour-item-link:hover .tour-booking-popup {
    opacity: 1;
    transition: ease-out 0.5s;
    bottom: 39px;
}

.logo-image-orange {
    position: absolute;
    opacity: 0;
    left: 0;
    margin: 0;
}

.logo-url-block:hover .logo-image-orange {
    opacity: 1;
    /*z-index: 1;*/
    left: 0;
    transition: 0.5s;
}

.logo-url-block:hover .logo-image {
    opacity: 0;
    transition: 0.5s;
}

.contact-info-item:hover {
    color: #F26522;
    transition: 0.5s;
}













